/* header   start*/

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__container--flex {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

.header__link {
  text-decoration: none;
  color: #757575;
  margin-right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-property: color, fill;
}
