

.hero {
  color: #ffffff;
 
  text-align: center;
  padding-bottom: px;

}

.hero__button {
  margin-bottom: 118px;
  line-height: 1.875;
  background-color: rgba(33, 150, 243, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  font-weight: 700;
  padding: 10px 41px;
  border: 0px;
  
&:hover {
  cursor: pointer;
}
}





/* main stat */

/*.hero {
  color: #ffffff;
  height: 600px;
  text-align: center;
  padding-bottom: px;

}*/



.hero__button {
  margin-top: 30px;
  line-height: 1.875;
  background-color: rgba(33, 150, 243, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  font-weight: 700;
  padding: 10px 41px;
  border: 0px;
  
&:hover {
  cursor: pointer;
}
}
