//Customers list//

//Mobile//

.customers {
  padding: 0px;
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 480px;
  max-width: 700px;
}

.customers__list {
  box-sizing: border-box;
  border: 1px solid var(--social-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  width: 210px;
  height: 92px;
  align-items: center;
  margin: 0 15px 15px 15px;

  &:hover svg {
    cursor: pointer;
    fill: var(--blue);
  }
  &:hover {
    border: 1px solid var(--blue);
    border-radius: 4px;
    cursor: pointer;
  }
}
.customers__icons {
  display: flex;
  fill: var(--social-color);
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-property: fill;
}

.customers__logo {
  display: flex;
  fill: var(--social-color);
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-property: fill;
}

//Tablet//

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .customers {
    min-width: 768px;
    margin: 0 auto;
  }
}

//Desktop//

@media screen and (min-width: 1200px) {
  .customers {
    justify-content: space-between;
    min-width: 1200px;
  }

  .customers__list {
    width: 170px;
    margin: 0px;
  }
}
