//Portfolio card-style//

.description {
  border-left: 1px solid rgba(238, 238, 238, 1);
  border-bottom: 1px solid rgba(238, 238, 238, 1);
  border-right: 1px solid rgba(238, 238, 238, 1);
  padding: 20px 22px;
  margin-top: -4px;
}

.description__primary{
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
 
  color: var(--text-black);
  padding-left: 24px;
  margin: 0px;
}

.description__secondary{
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  
  color: #757575;
  padding-left: 24px;
  margin: 0px;
}