.list-icon__heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--text-black);
  width: 270px;
}
.footer__heading {
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  margin: 0 auto;
  padding-bottom: 20px;
  padding-top: 10px;
  text-transform: uppercase;
}
