//Heddings/

// Mobile //

.list-icon__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--text-black);
}

//Tablet//

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .list-icon__heading {
    justify-content: flex-start;
  }
}

//Desktop//
@media screen and (min-width: 1200px) {
  .list-icon__heading {
    justify-content: flex-start;
    width: 270px;
  }
}
