.modal-form {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 40px;
  margin-right: 40px;
}
.modal-form label:focus-within svg {
  fill: rgba(33, 150, 243, 1);
}
.modal-form__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 40px;
  margin-bottom: 30px;
}
.modal-form__label{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-top: 10px;
  margin-bottom: 4px;
}

.modal-form__icon-name {
  position: absolute;
  left: 14px;
  top: 130px;
}
.modal-form__icon-phone {
  position: absolute;
  left: 14px;
  top: 200px;
}
.modal-form__icon-mail {
  position: absolute;
  left: 14px;
  top: 265px;
}
.modal-form label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
  margin-top: 10px;
}