/*Modal*/

//Mobile//

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  min-height: 609px;
  background-color: #fff;
  padding-bottom: 40px;
}

.modal__textarea {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 370px;
  height: 120px;
  padding: 12px 16px;
  color: rgba(117, 117, 117, 0.5);

  &:hover {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid var(--blue);
  }
  &:focus {
    outline: none;
    border: 1px solid rgba(33, 150, 243, 1);
  }
}

.modal__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 370px;
  height: 40px;
  padding-left: 42px;
}

.modal__button {
  display: flex;
  justify-content: center;
  background: var(--blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding: 10px 76px;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  margin-top: 30px;
}

.modal__btn {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 40px;
}
.checkbox-container {
  display: flex;
  justify-content: center;
  margin-top: 0;
}
.checkbox-container__checked {
  position: absolute;
  left: 7px;
  top: 81.5%;
  width: 26px;
  height: 16px;
  opacity: 0;
}

.checkbox-container__link {
  color: var(--blue);
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  flex-wrap: nowrap;
}

.checkbox-container__label {
  display: block;
  margin: 0;
  padding: 0;
  align-self: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0;
  padding-left: 0px;
  align-self: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  &::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 0;
    margin-right: px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 2px;
  }
}

.checkbox-container__checked:checked + .checkbox-container__label::before {
  background-color: var(--blue);
  background-image: url("../images/checked\.svg");
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
}
//Tablet//

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
  }
}

//Desktop//
@media screen and (min-width: 1200px) {
  .modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    min-height: 581px;
  }
  .modal__input {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 448px;
    height: 40px;
    padding-left: 42px;
  }
  .modal__textarea {
    width: 448px;
  }
  .checkbox-container__checked {
    top: 81%;
    left: 10%;
    width: 27px;
  }
}
