//Modal form Style//

//Mobile //

.modal-form {
  display: flex;
flex-direction: column;
}

.modal-form label:focus-within svg {
  fill: rgba(33, 150, 243, 1);
}

.modal-form__text {
  font-weight: 700;
font-size: 16px;
line-height: 1.15;
text-align: center;
letter-spacing: .03em;
color: var( --black);
margin-top: 40px;
margin-bottom: 30px;}

.modal-form__label {
font-size: 12px;
line-height: 1.16;
letter-spacing: .01em;
color: var( --text-color);
padding-left: 40px;
margin-bottom: 4px;
margin-top: 10px;
position: relative;
}
.modal-form_icon{
width: 12px;
height: 12px;
fill: #000;
position: absolute;
top: 50%;
left: 60px;
}
.modal-form__icon-name {
width: 12px;
height: 12px;
}

.modal-form__icon-phone {
height: 13px;
width: 13px;
}

.modal-form__icon-mail {
width: 15px;
height: 12px;
}


//Desktop//
@media screen and (min-width: 1200px) {

  .modal-form__icon-name {
   width: 12px;
height: 12px;
  }

  .modal-form__icon-phone {
    height: 13px;
width: 13px;
  }

  .modal-form__icon-mail {
    width: 15px;
height: 12px;
  }
}
