.portfolio{
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 0px;
  padding-bottom: 94px;
}
.portfolio__shadow{
margin-bottom: 30px;
&:hover {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}}
.portfolio__hidden {
  width: 370px;
  height: 294px;
  overflow: hidden;
  
  &:hover .portfolio-overlay {
  transform: translateY(-100%);
  transition: transform 250ms;
  margin: 0px;
}
}
//Mobile//
@media screen and (max-width: 767px)  {
.portfolio{
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 0px;
  padding-bottom: 30px;
  
  margin: 0;
}
.portfolio__shadow{
margin-bottom: 30px;
&:hover {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}}
.portfolio__hidden {
  width: 370px;
  height: 294px;
  overflow: hidden;
  
  &:hover .portfolio-overlay {
  transform: translateY(-100%);
  transition: transform 250ms;
  margin: 0px;
}
}
}