.team-social__icon{
  display: inline-flex;
  fill: var(--social-color);
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;

&:hover{
  background:var(--blue);
  border-radius: 50%;
  fill: white;
  cursor: pointer;}
}
.team-social__icon-size{  
  width: 20px;
  height: 20px;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}