//Mobile//

.container {
  
  margin: 0 auto;
  padding: 0 15px;
}
.header {
  border-bottom: 1px solid #ececec;
  height: 80px;
}
.background-image {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero/hero-bg-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  margin: 0 auto;
}
.container--footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
}
.container-footer {
  margin-top: 60px;
}

.container-footer-form {
  padding-bottom: 60px;

  padding-top: 60px;
}
.container-portfolio{
padding: 0px 15px;
}
//Tablet//

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .background-image {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero/hero-bg-tablet.jpg");
  }
.container {
  padding: 0px;

}
  .container--footer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 740px;
  }

  .container-footer-form {
    padding-bottom: 60px;
   
  }

  .header {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
  }
}

//Desktop//
@media screen and (min-width: 1200px) {
  .background-image {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/overlay.jpg");
  }
  .container {
    max-width: 1200px;
  padding: 0 15px;
}
  .container--footer{
  text-align: start;
    flex-direction: row;
    text-align:center;
  }

  .container-footer {
    padding-bottom: 60px;
  }

  .container-footer-form {
    padding-left: 78px;
     padding-top: 0px;
  }

  .container-footer--item {
    margin-left: 70px;
  }


  .background-image {
    max-width: 1600px;
  }

  .header {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
      padding: 0 15px;
}}
  


  //Retina//
  @media screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .background-image {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero/hero-bg-mobile-2x.jpg);
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi),
    screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
    .background-image {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero/hero-bg-tablet@2x.jpg);
    }
    }