
//all//

.section {
  margin-bottom: 94px;
}
.section-heading{
  text-align: center;
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.6;

}
.section-heading--team {
  padding-top: 94px;
}